<div class="container">
    <div class="card">
        <form [formGroup]="empForm" (ngSubmit)="onSubmit()">
            <div class="card-header">
                Emp: {{currentEmp?.name}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        Id
                    </div>
                    <div class="col-md-4">
                        <input type="text" formControlName="id" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Name
                    </div>
                    <div class="col-md-4">
                        <input type="text" formControlName="name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Rate
                    </div>
                    <div class="col-md-4">
                        <input type="text" formControlName="designation"  />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>